.navigation {
  text-align: center;
  padding: 10px;
}
.navigation a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  transition: ease-in 0.4s;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 20px;
}
.navigation a:hover {
  color: #0ff8e1;
  border: 2px solid #0ff8e1;
}
/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation a {
    margin: 10px 0;
    font-size: 14px;
  }
}