@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://i.pinimg.com/564x/46/73/6b/46736b637bd3e737634759d1bd39e001.jpg");
    color: #eee;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.header {
    text-align: center;
    background-image: url(https://www.hitaambrish.com/stat/img/home/Gallery_Bg.jpg);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 6px 10px #ccc;
  }
.navigation {
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

  }

  .navigation .homeDiv #homeBtn {
    align-items: center;
    background-image: linear-gradient(
      144deg,
      #af40ff,
      #5b42f3 50%,
      #00ddeb
    );
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    justify-content: center;
    line-height: 0.8em;
    max-width: 100%;
    min-width: 110px;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
  }

  .navigation .homeDiv #homeBtn:active,
  .navigation .homeDiv #homeBtn:hover {
    outline: 0;
  }

  .navigation .homeDiv #homeBtn a {
    background-color: rgb(5, 6, 45);
    color: #fff;
    font-size: 16px;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    text-decoration: none;
  }

  .navigation .homeDiv #homeBtn:hover a {
    background: none;
  }
  .navigation {
    justify-content: space-between;
  }
  .navigation .navbar{
    display: flex;
  }
  .navigation .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    font-size: 16px;
    font-weight: 500;
    transition: ease-in 0.3s;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 20px;
  }
  .navigation .navbar a:hover {
    color: rgb(250, 219, 153);
    border: 2px solid rgb(250, 219, 153);
  }

  .searchInput {
    box-sizing: border-box;
    width: 280px;
    height: 35px;
    padding: 5px 20px;
    border-radius: 50px;
    border: 0;
  }
  .searchInput:focus {
    outline: 0;
  }
  .searchForm button {
    padding: 0;
    border: 0;
    background-color: transparent;
    position: relative;
    top: 2px;
    right: 55px;
  }
  .searchForm button i {
    color: #555;
    padding: 9px 15px;

    font-size: 16px;
    cursor: pointer;
    transition: linear 0.16s;
  }
  .searchForm button i:hover {
    color: #23d1c8;
  }



.temple {
    display: flex;
    user-select: none;
    max-width: 850px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, #ffa585 0%, #ffeda0 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    
    overflow: hidden;
    transition: .5s all;
}

.temple hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 0;
}

.temple ins {
    text-decoration: none;
}

.temple .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 1rem;
}

.temple .main .photo {
    border-radius: .5rem;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.temple .main .description {
    margin: .5rem 0;
    color: brown;
    max-width: 500px;
}

.temple .main .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temple .main .details .location {
    display: flex;
    align-items: center;
    color: maroon;
    font-weight: 700;
}

.temple .main .details .duration {
    display: flex;
    align-items: center;
    color: purple;
    margin-right: .2rem;
}

.temple .main .creator {
    display: flex;
    align-items: center;
    margin-top: .2rem;
    margin-bottom: -.3rem;
}

.creator button {
    background-color: transparent;
    border: inset 5px rgb(68, 21, 21);
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
    font-weight: 900;
    font-size: 15px;

}


.temple .main .creator .wrapper img {
    border-radius: 100%;
    border: 1px solid #ffffff22;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0;
}

.temple::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
}

.temple:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(-1.3);
}

.temple:hover::before {
    filter: brightness(.5);
    top: -100%;
    left: 200%;
}

.bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg h1 {
    font-size: 20rem;
    filter: opacity(0.5);
}